{#
/**
 * @file
 * Show a user's income, expenditure, and the difference (balance) in a
 * visually pleasing way.
 *
 * Available variables:
 * - income (formatted)
 * - expenditure (formatted)
 * - balance (formatted)
 */
#}
<div class="nights-balance">
  <label>{{ label }}</label><br />
  Crédit: {{ income }} Débit: {{ expenditure }}<br />
  Solde: {{ balance }}
  <br /><strong>{{ link }}</strong>
</div>