ul.menu--secondary {
    display:flex;
    float:right;
}
ul.menu--main {
   font-size: 1.3em;
}
ul.menu--footer{
  display:flex;
}
a.name.navbar-brand {
  font-size: 2em;
}
a.navbar-btn {
  margin-top: 0;
  margin-right: 15px;
}
h1.page-header {
  padding-left: 15px;
}
.navbar-nav, ul.menu--main, div.navbar-header, a.name.navbar-brand {
  float:none;
}
div.region-sidebar-second .nav > li > a {
    padding: inherit;
    display: inherit;
}
div.region-sidebar-second ul.narbar-right, div.navbar-header {
  float: none !important;
}
div.region-header .navbar-nav > li{
  float:left
}