
span.fichepractique {
  background-image: url('../info.png');
  height: 32px;
  width: 32px;
  background-size: cover;
  display: inline-block;
}

form#node-lodging-edit-form details#edit-geolocation-0-leaflet-settings{
  display:none;
}

/* Can't get rid of this popup on the location map widget any other way.*/
div#edit-geocoordinates-wrapper div.leaflet-tooltip-pane {
  display: none;
}


/*div.block-facets {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
div.block-facets h3 {
  font-size: 1.3em;
}*/

div.email-icon {
  width:32px;
  height:32px;
  background-image: url('../email.png');
}
div.link-icon {
  width:32px;
  height:32px;
  background-image: url('../external_link.png');
}

div.field.field--name-coordinates{
  width: 33%;
  float:right;
}

#views-exposed-form-mcapi-exchange-transactions-admin input,
#views-exposed-form-mcapi-transactions-admin input{
  width: 20em;
}


/* User Profile */
/*
article.profile div.field--name-notes{
  float: left;
  width: 100%;
  clear: both;
  margin: 5px 0px 10px 0px;
  border-bottom: 1px solid #ccc;
}
article.full.profile div#user_picture{
  float:right;
}
table.profile-balances{
  width:inherit;
}

*/

#user-login-form label {
  display:block;
}

div.view-documents table {
  margin-bottom: 2rem;
  width: 100%;
}
div.view-documents table td{
  padding: 5px;
}

/*crédit bas de page CForge*/
#credit {
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
  color:#888;
}
div#credit a{
  text-align: center;
  color:#fff;
}

/* Members gallery uses the compact user view but must render each the same size */
div.view-members div.views-row{
  border: thin solid grey;
  margin-bottom: 1em;
  margin-right: 1em;
  height: 14em;
  overflow: hidden;
  width: 13em;
  float: left;
  background-color: #fff;
  box-shadow: 4px 4px 3px #cccccc;
}
article.compact.profile div.spoken{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
article.compact.profile div#member-of-sels{
  display: inline;
}