{#
/**
 * Available variables
 *
 * type the type of organisation
 * treasurer the uid of the treasurer
 * channels an array of translated communication channels
 * responsible a multidimensional array of people's responsibilities keyed by org and person's name
 * treasurer_name
 * editor_name The name of the user who last edited this statement,
 * editor_mail The mail of the user who last edited this statement,
 * site_mail
 *
 *
 */
#}
<h4>{{ "Type of organisation"|t }}</h4>
Nonprofit

<h4>Url</h4>
http://routedessel.org

<h4>{{ "Treasurer"|t }}</h4>
{{ treasurer_name }}

<h4>{{ "Communication channels used"|t }}</h4>
{{ comms_channels }}

<h4>{{ "Contact email"|t }}</h4>
{{ site_mail }}

<h4>{{ "Hosted by"|t }}</h4>
<a href="http://communityforge.net">Community Forge</a>

<h4>{{ "People with access to users data"|t }}</h4>

<table>
  {% for org, people in responsible %}
    <theader><th colspan = "2">{{ org }}</theader>
    <tbody>
    {% for name, role in people %}
    <tr><td>{{ name|raw }}</td><td>{{ role }}</td></tr>
    {% endfor %}
    </tbody>
  {% endfor %}
</table>
<p>{% trans %}Last edited by {{ editor_name }}{% endtrans %}