{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * content:
 *   correspondant
 *   geolocation
 *   address
 *   courriel
 *   notes
 *   body
 *   url
 *   phone
 */
#}
<article{{ attributes }}>
  {{ content.correspondent_edit_form }}<br />
  <div{{ content_attributes }} style="float:right; margin-left:10px">
    {{ content.geolocation }}
    {{ content.address }}
  </div>
    <div class="label">Correspondant:</div> {{ content.correspondents }}
  {{ content.url }}
  {{ content.phone }}
  {{ content.courriel }}
  {{ content.body }}
  <br style="clear:left"/>
  {{ content.notes }}
</article>
