{#
/**
 * @file
 * Default theme implementation to wrap around a transaction.
 *
 * Available variables:
 * - payer
 * - payee
 * - quant
 * - description
 * - metadata (not tested)
 *
#}
  {{ payer }}<br />
  A été hébergé par<br />
  {{ payee }} <br />
  et lui a donné <br />
  {{ quant }}