{#
/**
 * @file
 * Default theme implementation to wrap around a transaction.
 *
 * Available variables:
 * - transaction: the rendered transaction
 * - links: The transaction transitions, formatted as a list which is never cached
 * - watermark: a word or two.
 * - entries: contents of the mc_main_entry template
 * - other_fields: all additional fieldAPI fields
 * - feedback_guest
 * - feedback_host
 *
 * @see rds_nuits_preprocess_mc_transaction
#}
<div class = "{{ attributes.class }}">
  {% if watermark %}{{ watermark }}{% endif %}
  {% if signatures %}{{ signatures }}{% endif %}
  <div class = "certificate">
  {%  if duration %}
  <p>Dates du séjour  
  {{ duration }} </p>  
  {% endif %}
  {{ entry_main }}
  </div>

  {% if feedback_host or feedback_guest %}
    <p>Commentaire<br />
    {% if feedback_host %}
      {{ payee_user }} à dit &ldquo;{{ feedback_host|striptags }}&rdquo;</p>
    {% endif %}

    {% if feedback_guest %}
    <p>{{ payer_user }} à dit &ldquo;{{ feedback_guest|striptags }}&rdquo;</p>
    {% endif %}
  {% endif %}

  {{ links }}

  {{ entries_other }}
</div>
