{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id="wrapper">
  <header role="banner">
    {{ menu_secondary }}
    <div id="branding">
      <a href="/"><img src="/profiles/routedessel/themes/logo.png" alt="Home" /></a>
      <h1><a href="/">Route des SEL</a></h1>
      <div class="slogan">Hébergements Solidaires</div>
    </div>
  </header>

  <nav id = "nav-main">
    {{ menu_main }}
    {{ menu_visitor }}
  </nav>

  <aside id="sidebar-left" role="complementary">
    {{ page.sidebar_first }}
  </aside>

  <main role="main" id = "main">
    {{ page.top }}
    <div id = "main-inner">
      {{ page.content }}
    </div>
    {{ area_print }}
    {% if feed_icons %}
      <div id="feed-icons">
        {{ feed_icons }}
      </div>
    {% endif %}
  </main>

  <aside id="sidebar-right" role="complementary">
    {% if page.sidebar_second %}
      {{ page.sidebar_second }}
    {% endif %}
  </aside>

  <footer id = 'page-footer'>
      {{ page.footer }}
  </footer>
</div>
<div id="credit">
  {% trans %}Site designed and hosted for free by <a href="http://communityforge.net">Community Forge</a>, a non-profit association registered in France.{% endtrans %}
</div>
