{#
/**
 * @file
 * Default theme implementation to display a user profile.
 *
 * Contents of {{ content ]]
 * address
 * location_user_geoloc
 * user_picture
 * loyalty
 * fullname
 * hobbies
 * membership
 * lodgings
 * phones
 * spoken
 * action_benevole
 * notes
 * masquerade
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if full %}
  <div{{ content_attributes }}>
    de {{ content.memberofsel }}
    <div style="float:right">
      {{ content.membership }}
      {{ content.user_picture }}
      {{ content.loyalty }}
    </div>
    {{ content.address }}
    <!--{{ content.location_user_geoloc }}-->
    {{ content.phones }}
    {{ content.spoken }}
    {{ content.trades }}
    {{ content.hobbies }}
    {{ content.lodgings }}
    {{ content.action_benevole }}
    {{ content.notes }}
  </div>
  {% else %}
    {{ content.fullname }} de {{ content.memberofsel }}
    {{ content.user_picture }}
    {{ content.spoken }}
  {% endif %}

</article>
