
div.__PrivateStripeElement {
  width: 450px
}

div.rds-user-paid div.status {
  border: thin solid black;
  height: 1.5em;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0.2em;
}

div.rds-user-paid div.unverified {
  background-color: red;
}
div.rds-user-paid div.verified {
  background-color: orange;
}
div.rds-user-paid div.pending {
  background-color: orange;
}
div.rds-user-paid div.member {
  background-color: green
}

span.loyalty-star {
  display: inline-block;
  width: 40px;
  content: url('goldstar.png');
}

div.form-item-donor-name-for-stripe,
div#vbo-action-form-wrapper div.form-type-checkbox,
details#edit-multipage{
  display:none;
}
div.form-item-method {
  float:left;
}
div#edit-actions {
  clear:none;
  position: relative;
  top: 2em;
}
input.datepicker-years-filter {
  width:5em;
}
input#edit-since {
  width:12em;
}

div.form-item-donor-name-for-stripe,
div#vbo-action-form-wrapper div.form-type-checkbox,
details#edit-multipage{
  display:none;
}
div.form-item-method {
  float:left;
}
div#edit-actions {
  clear:none;
  position: relative;
  top: 2em;
  float:left;
}
input.datepicker-years-filter {
  width:5em;
}
input#edit-since {
  width:12em;
}

table.vbo-table input.form-checkbox {
  width:2em;
}

/*case à cocher*/
.form-item label.option {
  padding: 0px 50px 0px 0px;
}
/*carte bancaire*/
/*fond bleu*/
#stripe-card-element {
  background-color: #eee !important;
}
form.ElementsApp input{
  background-color: inherit !important;
}


/*texte pour les cheques, virements et cartes*/
#edit-check-or-other-text--description,
#edit-check-or-other-information--description,
#edit-credit-card-extra-text--description,
#edit-bank-help {
  color: black;
  font-size: 17px;
}


InputElement.is-empty.Input.Input--empty {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  color: #0c0d0c;
}
.ElementsApp .InputElement::placeholder {
  opacity: 1;
  color: #0d0c0c ! important;
}