
div#misc div {
  display:inline-block;
}
div.icon-access {
  background-image: url('icons/misc-disability-freepik.png');
}
div.icon-sheets {
  background-image: url('icons/misc-sheets-smashicons.png');
}
div.icon-selfcatering {
  background-image: url('icons/misc-self-catering-iconixar.png');
}
div.icon-camping {
  background-image: url('icons/misc-camping-freepik.png');
}
div.icon-meals {
  background-image: url('icons/misc-meals-freepik.png');
}
div.icon-smoking {
  background-image: url('icons/misc-smoking-freepik.png');
}
div.icon-animals {
  background-image: url('icons/misc-dog-freepik.png');
}
div.icon-internet {
  background-image: url('icons/misc-internet-gregor-cresnar.png');
}

div.lodging-icon {
  background-size: cover;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-right: 4px;
}

article.lodging.full div#landlord,
article.full article.lodging.teaser {
  clear: both;
  box-shadow: 4px 4px 3px #cccccc;
  float: right;
  background: rgba(255, 255, 255, 0.55);
  padding: 0.5em;
  max-width: 220px;
  float: right;
}

div.view-lodgings-list form.views-exposed-form fieldset#edit-misc--wrapper {
  float: left;
}
div.view-lodgings-list form.views-exposed-form div.form-checkboxes div.form-type-checkbox{
  clear: left;
}
div.view-lodgings-list form.views-exposed-form .form-type-select,
div.view-lodgings-list form.views-exposed-form .form-type-number,
div.view-lodgings-list form.views-exposed-form div#edit-actions{
  float: right;
  clear: right;
}

div.view-lodgings-list form.views-exposed-form div#edit-actions {
  margin-bottom: 1em;
}

form#node-lodging-edit-form div.leaflet-tooltip {
  /* This was showing a useless '1'*/
  display:none;
}
fieldset#edit-geolocation-0 {
  display:none;
}